= render "items/items_header"
-# 上記ヘッダー箇所

.m_single-container
  .m_single-main
    .m_l-single-container
      %h2.m_l-single-head__registration 新規会員登録
    .m_l-single-inne__registration-form
      .m_l-single-content
        =link_to "メールアドレスで登録する", "https://www.mercari.com/jp/signup/registration/",class: "m_registration"
        %i.m_icon-mail
        .m_heder__login-accout__facebook
          %input.m_login-btn__facebook{:style => "", :type => "button", :value => "Facebookで登録する"}/
        .m_heder__login-account__google
          %input.m_login-btn__google{:style => "", :type => "button", :value => "Googleで登録する"}/
.m_footer
=render "items/items_footer"