-# マイページの実装
.all
  = render "users_header2" 

  .h_main
    = render "leftbar"

    .h_right
      .h_top
        = image_tag 'orange0024.png', class: 'h_top--size'
        .h_top__icon
          = image_tag 'member_photo_noimage_thumb.png', class: 'h_top__icon--size'
          .h_top__icon__name
            羽岡諒
          .h_top__icon__list
            %p
              評価
            .h_top__icon__list__quantity
              ０
            %p
              出品数
            .h_top__icon__list__quantity
              ０

  