.m_single-container{
  width: 100vw;
  height:100vh;
  background: #f5f5f5;
}
.m_login-no-account{
  width:456px;
  height:144px;
  margin:auto;
  padding:40px 64px;
  background:#ffff;
  .m_login-no-account__p{
    font-size: 14px;
    text-align:center;
    color:#333333;
  }
  // 新規会員登録
  .m_login{
    display: block;
    width:328px;
    margin:auto;
    border: 1px solid #0099e8;
    background: #0099e8;
    line-height: 40px;
    color: #fff;
    text-align:center;
    font-size:14px;
    text-decoration: none;
  }
  
 
}
// FacebookとGoogleでログイン
.m_login-form-inner{
  width:456px;
  margin:auto;
  padding: 24px 64px;
  border-top: 1px solid #eee;
  background: #ffff;
}
// Facebookでログイン
.m_login-btn__facebook{
  width:328px;
  height:50px;
  margin-top:14px;
  background:#385184;
  color:#ffff;
  font-size:14px;
}
// Googleでログイン
.m_login-btn__google{
width:328px;
height:50px;
margin-top:14px;
background:#F9F9F9;
font-size:14px;
border: #979797 solid 1px;

}

// FacebookとGoogle以外でログイン
.m_login-form-inner2{
  width: 456px;
  height: 406px;
  margin: auto;
  padding: 24px 64px;
  background: #ffff;
  // メールアドレス入力箇所
  .m_login-input-text__mail{
    width: 328px;
    height: 48px;
    margin: 0;
    padding: 10px 16px 8px ;
  }
  // パスワード入力箇所
  .m_login-input-text__passward{
    width: 328px;
    height: 48px;
    margin: 24px 0 0;
    padding: 10px 16px 8px ;
  }
  // ロボットではありません
  .m_form-group{
    margin: 24px 0 0 ;
  }
  // ログイン
  .m_google-btn{
    width: 328px;
    height: 50px;
    margin: 24px 0 0;
    background: #E9352D ;
    color: #ffff;
    font-size: 14px;
  }
  // パスワードお忘れの方
  .m_forgot-password{
    display: block;
    margin: 40px 0 0 0;
    color: #0099e8;
    text-decoration: none;
    font-size: 14px;
  }
}




// -----------------------------------

// ヘッダーとメイン画面の背景
.single-container{
  width: 100vw;
  height:100vh;
  background: #f5f5f5;

  // メイン画面の背景
  .single-main{
    width:938px;
    height:344px;
    margin:auto;
    padding:0;
    background:#ffff;

    // メイン画面（左右マージンauto)
    .l-single-container{
      width: 700px;
      margin: 0 auto;
      
      // 新規会員登録
      .l-single-head__registration{
        display: block;
        margin:0 ;
        font-size: 22px;
        padding: 32px;
        line-height: 1.5;
        text-align: center;   
      }
    }
    //フォーム全体
    .l-single-inne__registration-form{
      border-top: 1px solid #f5f5f5;
      padding: 24px 16px 40px;
      
      // メールアドレスで登録
      .l-single-content{
        max-width:343px;
        margin:0 auto;
        .m_registration{
          display: block;
          width:328px;
          border: 1px solid #E9352D;
          background: #E9352D;
          font-size:14px;
          color: #fff;
          text-decoration: none;
          line-height: 40px;
          text-align:center;
        }
      }
    }
  }
}


