.m_single-container{
  background: #ffffff;;
  height:100vh;
  width: 100vw;
}

.m_login-no-account{
  .m_login{
    text-decoration: none;
  }
}
  .m_single-main{
    background:#ffff;
    height: 128px;
    // width: %;
    text-align:center;
    // display:block;
    }
.m_login-form-inner{
  width:100%;
  height:181px;
  margin:0px;
  background: #ffff;
}

.m_heder__login-account__lower{
  width:406px;
  height:456px;
  margin:auto;

}
.m_login-input-text.input-default{
  padding:10px 16px 8px ;
  margin:0;

}
.m_google-login.btn-default.btn-sns.btn-sns-google{
  margin-top:15px;
}

.m_login-panel{
  max-width: none;
  width: 456px;
  margin:auto;
}

}

.m_login-form-inner {
  padding: 32px 64px;
  border-top: 1px solid #eee;
}
.m_icon-facebook{
  margin-top:14px;
  color:#ffff;
  background-color:#0099E8;
  font-size:15;
  width:328px;
  height:50px;
}

.m_google-login.btn-default.btn-sns.btn-sns-google {
  margin: 16px 0 0;
  background: #fff url(/jp/assets/img/common/common/google.svg) no-repeat 3px top;
  border: #979797 solid 1px;
  color: #333;
}

.m_login-no-account{
  width:456px;
  height:144px;
  background:#ffff;
  margin:auto;
  padding:40px 64px;
  .p{
    font-size:14px;
  }
}
.m_login-form-inner{
  width:456px;
  height:181px;
  background: #ffff;
  margin:auto;
  padding: 32px 64px;
}

.m_heder__login-account__form2{
  margin:16px 0 0;
}
.m_login-form-inner2{
  width:456px;
  height:406px;
  background: #ffff;
  margin:auto;
  padding: 32px 64px;
}

// パスワード入力箇所
.m_login-input-text.input-default{
  margin:24px 0 0;
  width:328px;
  height:48px;
}
// ロボットではありません
.m_heder__login-account__lower__lobot{
  width: 304px; 
  height: 78px;
}

.m_form-group{
  margin:24px 0 0 ;
}

.m_login-form-inner2{

  m_forgot-password{
    text-decoration:none;
  }

}


