.single-container{
  background:lightcyan;
  height:100vh;
  width: 100vw;
}
  .single_header{
    background: rgb(209, 190, 155);
    height: 250px;
    width: 100%;

  }
  .single-main{
    background:#ffff;
    height: 128px;
    // width: %;
    text-align:center;
    // display:block;
    }
.login-form-inner{
  width:100%;
  height:181px;
  margin:0px;
  background: #ffff;
}

.m_heder__login-account__lower{
  width:406px;
  height:456px;
  margin:auto;

}
.login-input-text.input-default{
  padding:10px 16px 8px ;
  margin:0;

}
.google-login.btn-default.btn-sns.btn-sns-google{
  margin-top:15px;
}
.m_footer{
  background:lightyellow;
  height:500px ;
}

.login-panel{
  max-width: none;
  width: 456px;
  margin:auto;
}

a{
  display: block;
  width:328px;
  margin:auto;

  border: 1px solid #0099e8;
  background: #0099e8;
  color: #fff;
  line-height: 40px;
  background-color:#0099E8;
  text-align:center;
}

.login-form-inner {
  padding: 32px 64px;
  border-top: 1px solid #eee;
}
.icon-facebook{
  margin-top:14px;
  color:#ffff;
  background-color:#0099E8;
  font-size:15;
  width:328px;
  height:50px;
}

.google-login.btn-default.btn-sns.btn-sns-google {
  margin: 16px 0 0;
  background: #fff url(/jp/assets/img/common/common/google.svg) no-repeat 3px top;
  border: #979797 solid 1px;
  color: #333;
}


.login-no-account{
  width:456px;
  height:144px;
  background:#ffff;
  margin:auto;
  padding:40px 64px;
  .p{
    font-size:14px;
    
  }
}
.login-form-inner{
  width:456px;
  height:181px;
  background: #ffff;
  margin:auto;
  padding: 32px 64px;
}

.m_heder__login-account__form2{
  margin:16px 0 0;
}


.login-form-inner2{
  width:456px;
  height:406px;
  background: #ffff;
  margin:auto;
  padding: 32px 64px;
}

// パスワード入力箇所
.login-input-text.input-default{
  margin:24px 0 0;
  width:328px;
  height:48px;
}
// ロボットではありません
.heder__login-account__lower__lobot{
  width: 304px; 
  height: 78px;
}

.form-group{
  margin:24px 0 0 ;
}


