.all{
  .h_main{
    .h_right{
      float: none;
      width: 700px;
      .h_CardMenu{
        background-color: #fff;
        margin: 0;
        .h_CardInner{
          padding: 64px;
          .h_single-content{
            max-width: 320px;
            margin: 0 auto;
            .h_CardBtn{
              text-decoration: none;
              background: #ea352d;
              border: 1px solid #ea352d;
              color: #fff;
              display: block;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
