.all{
  .h_main{
    .h_right{
      width: 700px;
      &__contents{
        height: 250px;
        background-color: #fff;
        &__head{
          font-size: 24px;
          padding: 8px 24px;
          border-bottom: 1px solid #eee;
          text-align: center;
          font-weight: bold;
        }
        &__main{
          padding: 64px;
          text-align: center;
          &__card{
            margin: 0 auto;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            width: 320px;
            line-height: 48px;
            font-size: 14px;
            &__btn{
              display: block;
              text-decoration: none;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
