.all{
  background-color: #f8f8f8;
  .h_head{
    border-top: 1px solid #eee;
    height: 50px;
    background-color: white;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    line-height: 50px;
    ul{
      display: flex;
      width: 1020px;
      margin: 0 auto;
      li{
        padding-right: 10px;
      }
    }
    &--color{
      text-decoration: none;
      color: black;
    }
    &__icon{
      width: 10px;
    }
  }
  .h_main{
    display: flex;
    margin: 40px auto 0;
    width: 1020px;
  
  
    .h_left{
      &__contents{
        background-color: white;
        width: 280px;
        margin: 0 40px 0 0;
        margin-bottom: 30px;
        li{
          line-height: 40px;
          border-bottom: solid 1px #f5f5f5;
        }
        &__link{
          padding-left: 16px;
          min-height: 48px;
          display: block;
          text-decoration: none;
          color: #333;
          font-size: 14px;
          font-weight: bold;
        }
        &__link:hover{
          background-color:lightgray;
        }
      }
      &__text{
        font-weight: bold;
        padding-bottom: 5px;
      }
    }
  
  
    .h_right{
      width: 700px;
      height: 100vh;
      background-color: #f8f8f8;;
      .h_top{
        position: relative;
        &--size{
          width: 700px;
          max-height: 200px;
        }
        &__icon{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          text-align: center;
          &--size{
            width: 70px;
          }
          &__name{
            font-size: 14px;
            font-weight: bold;
            margin-top: 8px;
          }
          &__list{
            font-size: 14px;
            display: flex;
            margin-top: 8px;
            &__quantity{
              font-weight: bold;
              padding: 0 10px 0 5px;
            }
          }
        }
      }
    }
  }
}