.h_footer
  %ul
    .h_footer__clearfix
      %li
        = link_to "プライバシーポリシー", "#", class: "h_footer__clearfix__link"
      %li
        = link_to "利用規約", "#", class: "h_footer__clearfix__link"
      %li
        = link_to "特定商取引に関する表記", "#", class: "h_footer__clearfix__link"
  = link_to image_tag("/assets/logo-white.png", class: "h_footer__logo"), "#"