.k_head
  .k_head__inner
    .k_head__inner__top
      .k_head__inner__top__logo
        =image_tag "logo.png",class:"k_head__inner__top__logo--size"
      %input{type: "text-area",placeholder:"キーワードから探す",class: "k_head__inner__top__searchbox"}
      %form{action: "#"}
        %input{type: "submit", name: "submit", value: "", class: "k_head__inner__top__submit"}
      =image_tag "icon-search 1.png",class: "k_head__inner__top__logo2"
    .k_head__inner__bottom
      .k_head__inner__bottom__links
        = link_to "カテゴリー","#", class: "k_head__inner__bottom__links__catBtn"
        = link_to "ブランド","#"
      .k_head__inner__bottom__links
        = link_to "ログイン","#"
        = link_to "新規会員登録","/users/users_registration", class: "k_head__inner__bottom__links__newBtn"