= render 'items_toppage_header'
.k_main
  .k_main__mainVisual
    .k_main__mainVisual__content
    .k_main__mainVisual__subtitle
      人生を変えるフリマアプリ
    %p
      .k_main__mainVisual__subtitle__text
        FURIMAはだれでもカンタに出品・購入できる
        %br
        フリマアプリです
        .k_main__mainVisual__subtitle__btn
          =image_tag "app.svg", class: "k_main__mainVisual__subtitle__btn__a"
          =image_tag "google.svg", class: "k_main__mainVisual__subtitle__btn__b"

  .k_main__topIntroduction
    .k_main__topIntroduction__subtitle
      FURIMAが選ばれる3つの理由
      
    .k_mian__topIntroduction__border

    %ul.k_main__topIntroduction__lists
      %li
        .k_main__topIntroduction__lists__pict
          =image_tag "pict-reason-01.jpg", class: "k_main__topIntroduction__lists__pict--size"
          .k_main__topIntroduction__lists__pict__num
            1
        .k_main__topIntroduction__lists__text
          %span 3分 
          ですぐに出品
        .k_main__topIntroduction__lists__list
          スマホで入力するだけで簡単に出品できる！
      %li
        .k_main__topIntroduction__lists__pict
          =image_tag "pict-reason-02.jpg", class: "k_main__topIntroduction__lists__pict--size"
          .k_main__topIntroduction__lists__pict__num
            2
        .k_main__topIntroduction__lists__text
          %span シンプル 
          で使いやすい
        .k_main__topIntroduction__lists__list
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li
        .k_main__topIntroduction__lists__pict
          =image_tag "pict-reason-03.jpg", class: "k_main__topIntroduction__lists__pict--size"
          .k_main__topIntroduction__lists__pict__num
            3
        .k_main__topIntroduction__lists__text
          手数料 
          %span 業界最安
        .k_main__topIntroduction__lists__list
          最大3%でお得に出品&購入！
    
  .k_main__topMiddleDL
    .k_main__topMiddleDL__content
    .k_main__topMiddleDL__subtitle
      会員数日本一位
    %p
      .k_main__topMiddleDL__subtitle__text
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
        .k_main__topMiddleDL__subtitle__btn
          =image_tag "app.svg", class: "k_main__topMiddleDL__subtitle__btn__a"
          =image_tag "google.svg", class: "k_main__topMiddleDL__subtitle__btn__b"

  .k_main__topKeyFeatures
    .k_main__topKeyFeatures__head
      %h1
        FURIMAの特徴
      %h2
      .k_main__topKeyFeatures__head__items
        %ul.k_main__topKeyFeatures__head__items__item
          %li
            =image_tag "icon-01.png", class: "k_main__topKeyFeatures__head__items__item__pict"
            .k_main__topKeyFeatures__head__items__item__pict__text
              簡単に売り買いできる
            .k_main__topKeyFeatures__head__items__item__pict__detail
              スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
          %li
            =image_tag "icon-03.png", class: "k_main__topKeyFeatures__head__items__item__pict"
            .k_main__topKeyFeatures__head__items__item__pict__text
              売上金は即日振込みに対応
            .k_main__topKeyFeatures__head__items__item__pict__detail
              午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
          %li
            =image_tag "icon-04.png", class: "k_main__topKeyFeatures__head__items__item__pict"
            .k_main__topKeyFeatures__head__items__item__pict__text
              様々な支払いに対応
            .k_main__topKeyFeatures__head__items__item__pict__detail
              お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります
  .k_main__pickupContainer
    .k_main__pickupContainer__title
      ピックアップカテゴリー
    .k_main__pickupContainer__head
      =link_to "#" do
        新規投稿商品
    .k_main__pickupContainer__picts
      - @items.each do |item|
        .k_main__pickupContainer__picts__pict
          =link_to item_path(item.id) do

            

            -# .k_main__pickupContainer__picts__pict__img
              -# = image_tag item.images.first.image.url,size:"220x150"
              -# - if item.soldout == 1
              -#   .items-box_photo__sold
              -#     .items-box_photo__sold__inner
              -#       SOLD
          -# .k_main__pickupContainer__pict__img__texts
            -# =item.nickname
            -# .k_main__pickupContainer__pict__img__texts--size
            -#   =item.price

  .k_main__pickupContainer
    .k_main__pickupContainer__title
      ピックアップブランド
    .k_main__pickupContainer__head
      =link_to "#" do
        アーカイバ
    .k_main__pickupContainer__picts
      - @items.each do |item|
        .k_main__pickupContainer__picts__pict
          =link_to item_path(item.id) do

            -# .k_main__pickupContainer__picts__pict__img
              -# =image_tag item.images.first.image.url,size:"220x150"
              -# - if item.soldout == 1
              -#   .items-box_photo__sold
              -#     .items-box_photo__sold__inner
              -#       SOLD
          -# .k_main__pickupContainer__pict__img__texts
            -# =item.nickname
            -# .k_main__pickupContainer__pict__img__texts--size
            -#   =item.price
    -# .k_main__pickupContainer--padding

  .k_main__appBanner
    .k_main__appBanner__content
    .k_main__appBanner__title
      だれでもかんたん人生を変えるフリマアプリ
      .k_main__appBanner__title__text
        今すぐダウンロード!
        .k_main__appBanner__title__text__btn
          =image_tag "app.svg", class: "k_main__appBanner__title__text__btn__a"
          =image_tag "google.svg", class: "k_main__appBanner__title__text__btn__b"
  .k_main__btn
    = link_to "出品する", "/items/new", class: "k_main__btn__text"
    .k_main__btn__icon
      = image_tag "icon_camera.png",size:"54x54"
= render 'items_toppage_footer'