//カード詳細画面の部分テンプレート
.h_ContentsInfo
  .h_ContentsInfo__title
    クレジットカード情報
  .h_ContentsInfo__img
    = image_tag("Visa.png", class: "h_ContentsInfo__img--size")
  .h_ContentsInfo__number
    = "**** **** **** " + @default_card_information.last4
  .h_ContentsInfo__date
    - exp_month = @default_card_information.exp_month.to_s
    - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
    = exp_month + " / " + exp_year